<!-- <div id='view-contact-container'> -->
    <div *ngFor = 'let viewContacts of contacts' class='contact-container'>
        <div class='contact-name'>
            <a routerLink='/contact-details/' (click)="getId(viewContacts.id)">
                {{viewContacts.name}}
            </a>
        </div>
        <div class='contact-info'>
            <!-- Address: {{viewContacts.address}}
            <br/> -->
            Mobile:  {{viewContacts.mobile}}
            <br/>
            <!-- Work:  {{viewContacts.work}}
            <br/>
            Home:  {{viewContacts.home}}
            <br/> -->
            Email:  {{viewContacts.email}}
            <!-- <br/>
            Twitter:  {{viewContacts.twitter}}
            <br/>
            Instagram:  {{viewContacts.instagram}}
            <br/>
            Github:  {{viewContacts.github}} -->
        </div>
    </div>
<!-- </div> -->