
<div class='create-contact-container'>
  <h1>
    Edit {{contacts.name}}
  </h1>
<form action="">
    <label for="name">
        <!-- <div class="formHeader">Name</div> -->
        <input type="text" name="name" placeholder="Enter Name" [(ngModel)]="formData.name">
    </label>
    <br/>
    <label for="address">
          <!-- <div class="formHeader">Address</div> -->
        <input type="text" name="address" placeholder="Enter Address" [(ngModel)]="formData.address">
    </label>
    <br/>
    <label for="mobile">
        <!-- <div class="formHeader">Mobile</div> -->
        <input type="text" name="mobile" placeholder="Enter Mobile Contact Number" [(ngModel)]="formData.mobile">
    </label>
    <br/>
    <label for="work">
        <!-- <div class="formHeader">Work</div> -->
        <input type="text" name="work" placeholder="Enter Work Contact Number" [(ngModel)]="formData.work">
    </label>
    <br/>
    <label for="home">
        <!-- <div class="formHeader">Home</div> -->
        <input type="text" name="home" placeholder="Enter Home Contact Number" [(ngModel)]="formData.home">
    </label>
    <br/>
    <label for="email">
        <!-- <div class="formHeader">Email</div> -->
        <input type="text" name="email" placeholder="Enter Email Address" [(ngModel)]="formData.email">
    </label>
    <br/>
    <label for="twitter">
        <!-- <div class="formHeader">Twitter</div> -->
        <input type="text" name="twitter" placeholder="Enter Twitter Handle" [(ngModel)]="formData.twitter">
    </label>
    <br/>
    <label for="instagram">
        <!-- <div class="formHeader">Instagram</div> -->
        <input type="text" name="instagram" placeholder="Enter Instagram Handle" [(ngModel)]="formData.instagram">
    </label>
    <br/>
    <label for="github">
        <!-- <div class="formHeader">GitHub</div> -->
        <input type="text" name="github" placeholder="Enter GitHub Handle" [(ngModel)]="formData.github">
    </label>
</form>
<div class="btn-container">
  <button (click)="addContact()" class="btnSubmit"> Submit</button> 
</div>
</div>