#logo {
    // font-family: 'Diplomata', cursive;
    font-size:24px;
    margin-top: 20px;
}

ul {
    // margin-top: -20px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid grey;
    // z-index: -1;

}

li {
    list-style-type: none;
    display: inline-block;
    // margin-right: 15px;
    padding: 10px 10px 5px 10px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 5px 1px lightgrey;
    
}

a {
    text-decoration: none;
    color: grey;
}