<div class='contact-container'>
    <div class='contact-name'>
      {{contacts.name}}
    </div>
    <div class='contact-divider'></div>
      <div class='contact-info-container'>
        <div class="contact-info">
          {{contacts.address}}
        </div>
        <div class="contact-info">
          {{contacts.mobile}}
        </div>
        <div class="contact-info">
          {{contacts.work}}
        </div>
        <div class="contact-info">
          {{contacts.home}}
        </div>
        <div class="contact-info">
          {{contacts.email}}
        </div>
        <div class="contact-info">
          {{contacts.twitter}}
        </div>
        <div class="contact-info">
          {{contacts.instagram}}
        </div>
        <div class="contact-info">
          {{contacts.github}}
        </div>
    </div>
</div>