.create-contact-container {
    margin: auto;
    width: 40%;
}

h1 {
    text-align: center;
    color: grey;
}

input {
    text-align: justify;
    width: 100%;
    padding: 1%;
    margin: 1%;
}

.btn-container {
    margin: auto;
    width: 10%;
}

button {
   padding: 15% 30% 15% 30%;
   margin: 10%;
   border: none;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: grey;
   color: white;
}