
<div class='create-contact-container'>
    <h1>
        Create New Contact
    </h1>
  <form action="">
      <label for="name">
          <!-- <div class="formHeader">Name</div> -->
          <input type="text" name="name" placeholder="Enter Name">
      </label>
      <br/>
      <label for="address">
            <!-- <div class="formHeader">Address</div> -->
          <input type="text" name="address" placeholder="Enter Address">
      </label>
      <br/>
      <label for="mobile">
          <!-- <div class="formHeader">Mobile</div> -->
          <input type="text" name="mobile" placeholder="Enter Mobile Contact Number">
      </label>
      <br/>
      <label for="work">
          <!-- <div class="formHeader">Work</div> -->
          <input type="text" name="work" placeholder="Enter Work Contact Number">
      </label>
      <br/>
      <label for="home">
          <!-- <div class="formHeader">Home</div> -->
          <input type="text" name="home" placeholder="Enter Home Contact Number">
      </label>
      <br/>
      <label for="email">
          <!-- <div class="formHeader">Email</div> -->
          <input type="text" name="email" placeholder="Enter Email Address">
      </label>
      <br/>
      <label for="twitter">
          <!-- <div class="formHeader">Twitter</div> -->
          <input type="text" name="twitter" placeholder="Enter Twitter Handle">
      </label>
      <br/>
      <label for="instagram">
          <!-- <div class="formHeader">Instagram</div> -->
          <input type="text" name="instagram" placeholder="Enter Instagram Handle">
      </label>
      <br/>
      <label for="github">
          <!-- <div class="formHeader">GitHub</div> -->
          <input type="text" name="github" placeholder="Enter GitHub Handle">
      </label>
  </form>
</div>